@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: fac;
    src: url();
}

@font-face {
    font-family: fa;
    src: url();
}

@font-face {
    font-family: ;
    src: url();
}

@font-face {
    font-family: fac;
    src: url();
} */

body {
    background-image: url('/layered-peaks-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
}